<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>App login </title>
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
    </head>
    <body background="https://4.bp.blogspot.com/-ES1Ao21PUMI/V-BRs66USAI/AAAAAAAAUn4/2kQ3CPS8zoEms2iQDgDM3Gn7qa_KJ8SKgCEw/s1920/Jinx_1920x1080.jpg">
     <div class="col-md-4 col-md-offset-4">
        <div class="alert alert-danger" th:if="${param.error}">
            Invalid username and password.
        </div>
        <div class="alert alert-warning" th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <label> User Name : <input type="text" name="username" class="form-control"/> </label>
            <label> Password: <input type="password" name="password" class="form-control"/> </label>
            <input type="submit" value="Sign-in" class="btn btn-success"/>
        </form>
        <a th:href="@{/signup}">Sign-up</a>
       </div>
    </body>
</html>